/*reset*/
body,h1,h2,h3,p,figure{
	margin: 0;
}
main{
	/*height: 434px;*/
	overflow: auto;
	padding: 20px;
	border: 1px solid #999;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	background-color: #eee;
	font-size: 14px;
	font-family: "SimSun";
}
aside,article{
	padding: 20px;
	border: 1px solid #999;
	background-color: #fff;
}
img{
	width: 80px;
	height: 80px;
}
/*aside*/
.web{
	/*position: absolute;left: 41px;top: 41px;*/
	float: left;
}
.r-30{
	border-radius: 30px;
}
figcaption{
	float: right;
	margin-left: 20px;
	font-size: 20px;
	font-family: "SimHei";
	font-weight: bold;
}
/*aside*/
.s-logo{
	/*position: absolute;right: 41px;top: 41px;*/
	float: right;
	width: 80px;
}
.m-t{
	margin-top: 20px;
}
/*article*/
article{
	margin-left: 234px;
	margin-right: 142px;
}
h2,p{
	margin-bottom: 8px;
}
h3{
	margin-bottom: 4px;
}
h2{
	color: red;
	font-size: 18px;
}
h3{
	color: blue;
	font-size: 16px;
	font-weight: normal;
}
